*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    text-decoration: none;
    outline: none;
    border: none;
}
:root{
    --text-color:rgb(255, 255, 255); 
    --accent-color: rgb(218, 2, 66);
    --base-color:  rgb(17, 24, 39);
    --line-clr: #42434a;
    --secondary-text-color: rgb(201, 201, 201);
}

@media (max-width: 661px){
    main{
        padding-top: 2px;
    }
    #preview{
        border: 1px solid var(--line-clr);
        height: 500px;
        border-radius: 10px;                
        margin-bottom: 20px;
        padding: 40px 20px 40px 20px;
        display: flex;   
        justify-content: space-between;     
    }
    #minin_text{
        width: 50%;
        height: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: 2px solid var(--text-color);
        border-radius: 10px 0px 0px 10px;
    }
    #head{
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        h2{
            font-size: 30px;
            color: var(--text-color);
            text-align: center;
            line-height: 100%;
        }
    }
    #description{
        padding: 7px;
    }
    #description > p{
        text-align: justify;
        font-size: 12px;
        color: var(--secondary-text-color);
    }
    #logo{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--text-color);
        border-radius: 0px 10px 10px 0px;

    }
    #logo > img{
        display: block;
        width: 90%;
        height: 10%s;
        border-radius: 10px;
    }
}

@media (min-width: 662px) and (max-width: 999px){
    main{
        padding-top: 2px;
    }
    #preview{
        border: 1px solid var(--line-clr);
        height: 90vh;
        border-radius: 10px;                
        margin-bottom: 20px;
        padding: 40px 20px 40px 20px;
        display: flex;   
        justify-content: space-between;     
    }
    #minin_text{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: 2px solid var(--text-color);
        border-radius: 10px 0px 0px 10px;
    }
    #head{
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        h2{
            font-size: 35px;
            color: var(--text-color);
            text-align: center;
            line-height: 100%;
        }
    }
    #description{
        padding: 20px;
    }
    #description > p{
        text-align: center;
        font-size: 12px;
        color: var(--secondary-text-color);
    }
    #logo{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--text-color);
        border-radius: 0px 10px 10px 0px;

    }
    #logo > img{
        width: 270px;
        height: 200px;
        border-radius: 10px;
    }
}

@media (min-width: 1000px) and (max-width: 1484px){
    #preview{
        border: 1px solid var(--line-clr);
        height: 90vh;
        border-radius: 10px;                
        margin-bottom: 20px;
        padding: min(3em, 15%);
        display: flex;   
        justify-content: space-between;     
    }
    #minin_text{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: 2px solid var(--text-color);
        border-radius: 10px 0px 0px 10px;
    }
    #head{
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        h2{
            font-size: 40px;
            color: var(--text-color);
            text-align: center;
            line-height: 100%;
        }
    }
    #description{
        padding: 30px;
    }
    #description > p{
        text-align: center;
        font-size: 14px;
        color: var(--secondary-text-color);
    }
    #logo{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--text-color);
        border-radius: 0px 10px 10px 0px;

    }
    #logo > img{
        width: 400px;
        height: 270px;
        border-radius: 10px;
    }
}

@media (min-width: 1485px){
    #preview{
        border: 1px solid var(--line-clr);
        height: 90vh;
        border-radius: 10px;                
        margin-bottom: 20px;
        padding: min(3em, 15%);
        display: flex;   
        justify-content: space-between;     
    }
    #minin_text{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: 2px solid var(--text-color);
        border-radius: 10px 0px 0px 10px;
    }
    #head{
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        h2{
            font-size: 50px;
            color: var(--text-color);
            text-align: center;
            line-height: 100%;
        }
    }
    #description{
        padding: 30px;
    }
    #description > p{
        text-align: center;
        font-size: 16px;
        color: var(--secondary-text-color);
    }
    #logo{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--text-color);
        border-radius: 0px 10px 10px 0px;

    }
    #logo > img{
        width: 400px;
        height: 270px;
        border-radius: 10px;
    }
}