*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    text-decoration: none;
    outline: none;
    border: none;
}
:root{
    --text-color:rgb(255, 255, 255); 
    --accent-color: rgb(218, 2, 66);
    --base-color:  rgb(17, 24, 39);
    --line-clr: #42434a;
    --secondary-text-color: rgb(201, 201, 201);
}
#map{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
@media (max-width: 661px){
    main{
        padding-top: 30px;
    }
    #preview{
        height: 80vh;
        padding:20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #preview > h2{
        font-size: 38px;  
        width: 100%;     
    }
    #description{
        text-align: right;
        display: flex;
        justify-content: flex-end;
    }
    #description > p {
        font-size: 14px;
        width: 100%;
        padding:20px;
    }
}

@media (min-width: 662px) and (max-width: 999px){
    main{
        padding-top: 30px;
    }
    #preview{
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #preview > h2{
        font-size: 45px;  
        width: 100%;     
    }
    #description{
        text-align: right;
        display: flex;
        justify-content: flex-end;
    }
    #description > p {
        font-size: 14px;
        width: 100%;
        padding:20px;
    }
}

@media (min-width: 1000px) and (max-width: 1484px){
    #preview{
        height: 80vh;
    }
    #preview > h2{
        font-size: 68px;  
        width: 90%;     
    }
    #description{
        text-align: right;
        display: flex;
        justify-content: flex-end;
    }
    #description > p {
        font-size: 18px;
        width: 80%;
        padding:20px;
    }
}

@media (min-width: 1485px){
    #preview{
        height: 80vh;
    }
    #preview > h2{
        font-size: 80px;  
        width: 85%;     
    }
    #description{
        text-align: right;
        display: flex;
        justify-content: flex-end;
    }
    #description > p {
        font-size: 22px;
        
        width: 80%;
        padding:20px;
    }
}