*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
}
:root{
    --text-color:rgb(255, 255, 255); 
    --accent-color: rgb(218, 2, 66);
    --color-icon: rgb(255, 255, 255);
    --base-color:  rgb(17, 24, 39);
    --line-clr: #42434a;
}

main p{
    color: var(--text-color);
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 22px;
}
.container{
    border: 1px solid var(--line-clr);
    border-radius: 10px;                
    margin-bottom: 20px;
    padding: min(3em, 15%);
    h2, p{
        margin-top: 1em;
        color: var(--text-color);
    }
}
.icons{
    color: var(--color-icon);
    transition: all 0.5s ease;
} 
.section{
    border-radius: 10px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    transition: all 0.5s ease;
}
.section:hover{
    border-radius: 20px;
    background-color:var(--text-color);
    color: var(--accent-color);
    transition: all 0.5s ease;
}
.section::after{
    position: absolute; 
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
}
#section_1::after{
    content: " Home";
}
#section_2::after{
    content: "Sing in";
}
#section_3::after{
    content: "News";
}
#section_4::after{
    content: "Events";
}
#section_5::after{
    content: "Profile";
}
#section_6::after{
    content: "Sing up";
}

.active{
    background-color: var(--text-color);
    border-radius: 20px;
    .icons{
        color:var(--accent-color);
    }
}

@media (max-width: 661px){
    body{
        width: 100%;
        background-color: var(--base-color);
        display: flex;
        flex-direction: column-reverse;
    }
    .nav_parent{
        z-index: 2;
        width: 100%;
        height: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--accent-color);
        bottom: 0;
        position: fixed;
        scrollbar-gutter: stable;
    }
    #nav_block{
        height: inherit;
        width: 661px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        column-gap: 50px;
        padding: 0px 10px 0px 10px;
    }
    #nav_block{
        display: grid;
        grid-auto-flow: column;
        overflow-x: scroll;        
    }

    #nav_block::-webkit-scrollbar {
        height: 6px;
        width: 100%;
        border-radius: 10px;
    }
    #nav_block::-webkit-scrollbar-track {
        background-color: var(--base-color);
    }
    #nav_block::-webkit-scrollbar-thumb {
        background-color: var(--line-clr);
        border-radius: 10px;
        padding: 1px;
    }

    .section{
        width: 60px;
        height: 60px;
        border-radius: 10px;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: start;
        padding: 3px;
        border: 1px solid var(--text-color);
    }
    .section > a{
        display: inline-block;
    }
    .icons{
        font-size: 27px;  
    } 
    .section::after{
        color: inherit;
        text-align: center;
        font-size: 14px;
        border-radius: 10px;
        bottom: 2px;
    }
    .active:after{
        color: var(--accent-color);
    }
}

@media (min-width: 662px) and (max-width: 999px){
    body{
        width: 100%;
        background-color: var(--base-color);
        display: flex;
        flex-direction: column-reverse;
    }
    .nav_parent{
        z-index: 2;
        width: 100%;
        height: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--accent-color);
        bottom: 0;
        position: fixed;
    }
    #nav_block{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
    }
    .section{
        width: 80px;
        height: 66px;
        border-radius: 10px;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: start;
        padding: 5px 10px 5px 10px; 
    }
    .icons{
        font-size: 30px; 
    } 
    .section::after{
        color: inherit;
        text-align: center;
        font-size: 18px;
        bottom: 0px;
    }
    .active:after{
        color: var(--accent-color);
    }
}

@media (min-width: 1000px) and (max-width: 1484px){
    body{
        width: 100%;
        background-color: var(--base-color);
        display: flex;
        flex-direction: column-reverse;
    }
    main{
        padding: 90px 30px 30px 30px;
    }
    .nav_parent{
        z-index: 2;
        width: 100%;
        height: 74px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--accent-color);
        top: 0;
        position: fixed;
        margin-bottom: 30px;
    }
    #nav_block{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
    }
    .section{
        width: 80px;
        height: 66px;
        border-radius: 10px;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: start;
        padding: 5px 10px 5px 10px; 
    }
    .icons{
        font-size: 26px; 
    } 
    .section::after{
        color: inherit;
        text-align: center;
        font-size: 18px;
        bottom: 0px;
    }
    .active:after{
        color: var(--accent-color);
    }
}
 @media (min-width: 1485px){
    body{
        width: 100%;
        background-color: var(--base-color);
        display: flex;
        flex-direction: column-reverse;
    }
    main{
        padding: 90px 30px 30px 30px;
    }
    .nav_parent{
        z-index: 2;
        width: 100%;
        height: 74px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--accent-color);
        top: 0;
        position: fixed;
        margin-bottom: 30px;
    }
    #nav_block{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
    }
    .section{
        width: 80px;
        height: 66px;
        border-radius: 10px;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: start;
        padding: 5px 10px 5px 10px; 
    }
    .icons{
        font-size: 26px; 
    } 
    .section::after{
        color: inherit;
        text-align: center;
        font-size: 18px;
        bottom: 0px;
    }
    .active:after{
        color: var(--accent-color);
    }
}