#prof_container{
    border: 2px solid var(--accent-clr); 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label{
    display: block;
    border-radius: 10px;
    text-align: center;
    img{
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
}
#input_avatar{
    height: 0;
    width: 0;
    overflow: hidden;
}