*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    text-decoration: none;
    outline: none;
    border: none;
}
:root{
    --text-color:rgb(255, 255, 255); 
    --accent-color: rgb(218, 2, 66);
    --base-color:  rgb(17, 24, 39);
    --line-clr: rgb(66, 67, 74);
    --secondary-text-color: rgb(201, 201, 201);
}
.button{
    background-color: var(--accent-color);
    color: var(--text-color);
    border-radius: 5px;
    border:1px solid var(--accent-color);
    transition: all 0.3s ease;
}
.button:hover{
    background-color: var(--text-color);
    color: var(--accent-color);
    transition: all 0.3s ease;
}
body{
    background-color: var(--base-color);
}
main{
    background-color: var(--base-color);
}
label{
    display: block;
    border-radius: 10px;
    text-align: center;
    img{
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
}
input[type=file]{
    padding: 0px;
    height: 0;
    width: 0;
    overflow: hidden;
}

@media (max-width: 661px){
    main{
        padding: 20px 10px 10px 10px;
    }
    .container{
        border: 2px solid var(--line-clr);
        border-radius: 10px;
    }
    #avatar{
        display: flex;
        justify-content: center;
        padding: 30px;
    }
    #avatar_pict{
        display: block;
        border-radius: 10px;
        height: auto;
        width: 100px;
        object-fit: contain;
    }
    h1{
        color: var(--text-color);
        font-size: 40px;
        text-align: center;
    }
    #contactInfo{
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    #contactInfo > p{
        color: var(--text-color);
        font-size: 16px;
        display: block;
        margin: 10px;
    }
    label{
        display: block;
        position: relative;
        font-size: 20px;
        color: var(--text-color);
        margin: 20px 10px 15px 10px;
    }
    input{
        border: 2px solid var(--base-color);
        border-radius: 10px;
        width: 90%;
        padding: 10px;
        font-size: 18px;
        transition: all 0.5 ease;
    }
    .button{
        margin-top: 14px;
        align-self: flex-start;
        font-size: 22px;
        padding: 5px 10px 5px 10px;
    }
}

@media (min-width: 662px) and (max-width: 999px){
    main{
        padding: 15px 30px 15px 30px;
    }
    .container{
        border: 2px solid var(--line-clr);
        border-radius: 10px;
    }
    #avatar{
        display: flex;
        justify-content: center;
        padding: 30px;
    }
    #avatar_pict{
        display: block;
        border-radius: 10px;
        height: auto;
        width: 180px;
        object-fit: contain;
    }
    h1{
        color: var(--text-color);
        font-size: 40px;
        text-align: center;
    }
    #contactInfo{
        padding: 30px;
        display: flex;
        flex-direction: column;
    }
    #contactInfo > p{
        color: var(--text-color);
        font-size: 20px;
        display: block;
        margin: 20px;
    }
    label{
        display: block;
        position: relative;
        font-size: 20px;
        color: var(--text-color);
        margin: 20px 10px 15px 10px;
    }
    input{
        border: 2px solid var(--base-color);
        border-radius: 10px;
        width: 500px;
        padding: 10px;
        font-size: 18px;
        transition: all 0.5 ease;
    }
    .button{
        margin-top: 20px;
        align-self: flex-start;
        font-size: 22px;
        padding: 7px 13px 7px 13px;
    }
}

@media (min-width: 1000px) and (max-width: 1484px){
    main{
        padding: 15px 30px 15px 30px;
    }
    .container{
        border: 2px solid var(--line-clr);
        border-radius: 10px;
    }
    #avatar{
        display: flex;
        justify-content: center;
        padding: 30px;
    }
    #avatar_pict{
        display: block;
        border-radius: 10px;
        height: auto;
        width: 250px;
        object-fit: contain;
    }
    h1{
        color: var(--text-color);
        font-size: 50px;
        text-align: center;
    }
    #contactInfo{
        padding: 30px;
        display: flex;
        flex-direction: column;
    }
    #contactInfo > p{
        color: var(--text-color);
        font-size: 25px;
        display: block;
        margin: 20px;
    }
    label{
        display: block;
        position: relative;
        font-size: 20px;
        color: var(--text-color);
        margin: 20px 10px 15px 10px;
    }
    input{
        border: 2px solid var(--base-color);
        border-radius: 10px;
        width: 500px;
        padding: 10px;
        font-size: 18px;
        transition: all 0.5 ease;
    }
    .button{
        margin-top: 20px;
        align-self: flex-start;
        font-size: 22px;
        padding: 7px 13px 7px 13px;
    }
}

@media (min-width: 1485px){
    main{
        padding: 15px 30px 15px 30px;
    }
    .container{
        border: 2px solid var(--line-clr);
        border-radius: 10px;
    }
    #avatar{
        display: flex;
        justify-content: center;
        padding: 30px;
    }
    #avatar_pict{
        display: block;
        border-radius: 10px;
        height: auto;
        width: 250px;
        object-fit: contain;
    }
    h1{
        color: var(--text-color);
        font-size: 60px;
        text-align: center;
    }
    #contactInfo{
        padding: 30px;
        display: flex;
        flex-direction: column;
    }
    #contactInfo > p{
        color: var(--text-color);
        font-size: 25px;
        display: block;
        margin: 20px;
    }
    label{
        display: block;
        position: relative;
        font-size: 20px;
        color: var(--text-color);
        margin: 20px 10px 15px 10px;
    }
    input{
        border: 2px solid var(--base-color);
        border-radius: 10px;
        width: 500px;
        padding: 10px;
        font-size: 18px;
        transition: all 0.5 ease;
    }
    .button{
        margin-top: 20px;
        align-self: flex-start;
        font-size: 22px;
        padding: 7px 13px 7px 13px;
    }
}