*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    text-decoration: none;
    outline: none;
    border: none;
}
:root{
    --text-color:rgb(255, 255, 255); 
    --accent-color: rgb(218, 2, 66);
    --base-color:  rgb(17, 24, 39);
    --line-clr: rgb(66, 67, 74);
    --secondary-text-color: rgb(201, 201, 201);
}

@media (max-width: 661px){
}

@media (min-width: 662px) and (max-width: 999px){
}

@media (min-width: 1000px) and (max-width: 1484px){
}

@media (min-width: 1485px){
    main{
        background-color: var(--base-color);
        display: flex;
        justify-content: center;
        height: 100vh;
    }
    .block{
        width: 500px;
    }
    .form-floating{
        width: 500px;
    }
}